@font-face {
  font-family: "ProximaNova Bold";
  src: url("../fonts/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/proxima-nova-bold.woff2") format("woff2"),
    url("../fonts/proxima-nova-bold.woff") format("woff"),
    url("../fonts/proxima-nova-bold.ttf") format("truetype"),
    url("../fonts/proxima-nova-bold.svg#svgFontName") format("svg");
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
ul,
li {
  padding: 0;
  margin: 0;
  display: block;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/** Partners **/

.partners {
  background: #fafafc;
  padding: 100px 0;
}
.partners__title {
  font-family: "ProximaNova Bold";
  font-weight: bold;
  font-size: 56px;
  line-height: 1.25em;
  margin: 0 0 50px;
  display: block;
}
.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partners__item {
  width: 21%;
  height: 100%;
  transition: all 0.7s ease;
  filter: grayscale(100%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 0 20px;
  border-radius: 10px;
}
.partners__item:hover {
  transition: all 0.7s ease;
  filter: none;
  transform: scale(1.1);
}
.partners__item img {
  max-height: 115px;
  transition: all 0.7s ease;
  width: 100%;
}
.partners__item:hover img {
  transform: scale(1.2);
  transition: all 0.7s ease;
}
.partners__item:nth-child(-n + 4) {
  margin-bottom: 70px;
}
.partners__item_color {
    transition: all 0.7s ease;
    filter: none;
    transform: scale(1.1);
}
/*** RESPONSIVE ***/

/* Large: 992px - 1199px */

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .partners__title {
    font-size: 40px;
  }
  .partners__item {
    filter: none;
}
  .partners__item:hover {
      filter: none;
  }
  .partners__item img {
    transform: scale(1.1);
  }
}

/* Medium: 768px - 991px */

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
/* Small: 576px - 767px */

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .partners__title {
    font-size: 31px;
  }
  .partners__list {
    justify-content: space-evenly;
  }
  .partners__item {
    width: 40%;
    margin-bottom: 50px;
  }
  .partners__item:nth-child(-n + 4) {
    margin-bottom: 50px;
  }
}

/* Extra small: 0px (320px) - 575px */

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .partners__item {
    margin-bottom: 30px;
    height: 120px;
  }
  .partners__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}
